.ant-modal-header {
  background-color: #162035 !important;
}

.ant-modal-title {
    color: #ff005c !important;
    font-size: bold;
}

.ant-modal-body {
  background-color: #162b51 !important;
  color: white;
}

.ant-modal-footer {
  background-color: #162b51 !important;
  text-align: left !important;
}
/* .ant-modal-footer .ant-btn {
    color: #888d98 !important;
    border-color: #162035 !important;
    background: linear-gradient(to right, #ff756d, #ff1a60) !important;
    border-radius: 1em;
    width: 6em;
} */

.ant-modal-footer .ant-btn {
    color: #888d98 !important;
    background-color: #162035 !important;
    border-color: #162035 !important;
    border-radius: 1em;
    width: 6em;
}
